---
---

@import 'minima';

body {
	box-sizing: border-box;
	overflow-x: hidden;
}
details {
	margin-bottom: 15px;
}

.wrapper {
	max-width: 70vw;
}

.tab {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}
button .tablink {
	width: 100%;
}

#logo-container {
	margin-left: auto;
	margin-right:auto;
	width: 60%;
	margin-bottom: 10px;
	margin-top: 10px;
}

#molssi-logo {
	width: 140%;
	height: auto;
	padding-bottom: 10px;
}

#particles-js {
	display: none;
	position: absolute;
	// background-image: linear-gradient(to bottom, #ed1c24ff, white );
	top:0;
	left:0;
  width: 100vw;
	height: 100vh;
	z-index: -1;
  // background-color:  #ed1c24ff;
}

#navbar-logo {
	display: inline-block;
	height: 7vh;
	margin:0 5px;
}

.navbar {
	padding:0 10px;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2;
}

.site-header {
	width: 100%;
}
.resource-content {
	margin-top: 10px;
}

.social-media-list {
	display: flex;
	flex-direction: row;
}

.social-media-list li a {
	border: 0px solid white;
	padding: 0;
}

.fab {
	font-size: 2rem;
	color: #ed1c24ff;
}
/* Style the tab */
.tab {
	overflow: hidden;
	border: 1px solid #ccc;
	background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
	background-color: inherit;
	float: left;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 14px 16px;
	transition: 0.3s;
	font-size: 18px;
	width: 100%;
}

/* Change background color of buttons on hover */
.tab button:hover {
	background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
	background-color: #ed1c24ff;
	color: white;
}

/* Style the tab content */
.tabcontent {
	display: none;
	padding: 6px 12px;
	border: 1px solid #ccc;
	border-top: none;
	padding: 30px 20px;
}

.tabcontent {
	animation: fadeEffect 1s; /* Fading effect takes 1 second */
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.tabcontent h2 a {
	color: black;
}

#plotlyRow {
	position:absolute;
	left: 0;
	margin:auto;
	margin-top:0;
	margin-bottom: 0;
	height: 70vh;
	width: 100vw;
	overflow: scroll;
	background-color: #fdfdfd;
}

#eventMap {
	margin:0;
	height: 70vh;
	width: 100vw;
	margin-top:0;
	margin-bottom: 0;
	overflow: hidden;
	background-color: #fdfdfd;
}

footer {
	z-index: 2;
	background-color: #fdfdfd;
}
